.red
  height: 7px
  width: 7px
  background-color: red
  border-radius: 50%

.yellow
  background-color: yellow
  height: 7px
  width: 7px
  border-radius: 50%

.green
  background-color: green
  height: 7px
  width: 7px
  border-radius: 50%

.grey
  background-color: grey
  height: 7px
  width: 7px
  border-radius: 50%

.redbar
  background-color: red
  height: 15px
  width: 15px

.yellowbar
  background-color: yellow
  height: 15px
  width: 15px

.greenbar
  background-color: green
  height: 15px
  width: 15px
