.red
  color: red

.yellow
  color: yellow

.green
  color: green

.grey
  color: grey

.try
  display: flex
  text-align: center

.redbar
  color: red
  font-size: 25px
  flex: 1

.yellowbar
  color: yellow
  font-size: 25px
  flex: 1

.greenbar
  color: green
  font-size: 25px
  flex: 1

.batch-page
  margin: 20px
  background-color: rgba(251,251,251,0.8)
  padding: 20px

.batchnumber
  text-align: center

.dates
  text-align: center
