.red1 {
  color: #ff2a2a;
  flex: 1; }

.yellow1 {
  color: #ffcc50;
  flex: 1; }

.green1 {
  color: #3ab227;
  flex: 1; }

.studentname {
  margin-left: 50px; }

.avatar {
  margin-left: 90px;
  margin-top: 20px; }

.stars {
  display: flex;
  margin-left: 40px; }

.evaluation {
  float: left; }

.EditStudentButton {
  margin-left: 10px; }

.EditEvaluationButton {
  margin-left: 10px; }
